

body
{
 background-color: black;
  background-image: url("https://github.com/Apoorv0503/web_challenge/blob/main/bg.png?raw=true");
}
.box
{
   height: 50vh;
   width: auto;
  /* padding-bottom: 20%;*/
  visibility: hidden;
  background-image: url("https://github.com/Apoorv0503/web_challenge/blob/main/coding.png?raw=true");
 margin-top: 10%;
  margin-right: 30%;
   margin-bottom: 10%;
   margin-left: 30%;

}
